cleanup = false

workDir = '/hps/nobackup/petsalaki/users/alussana/nf_workDir_protverse_extract_modules'

dag.overwrite = true

process {

    container = 'file://envs/protverse.sif'
    executor = 'slurm'
    queue = 'standard'
    queueSize = 128
    memory = '8G'
    errorStrategy = 'retry'
    time = '12h'

}

executor {

    submitRateLimit = '10sec'

}

singularity {

    enabled = true
    autoMounts = true

}

env {

    out_dir = '/nfs/research/petsalaki/users/alussana/protverse'
    wcsn_dir = '/nfs/research/petsalaki/users/alussana/protverse/wcsn'
    wcmn_dir = '/nfs/research/petsalaki/users/alussana/protverse/wcmn'
    pathwaycommons_dir = '/nfs/research/petsalaki/users/alussana/protverse/databases/PathwayCommons12'

}

params {

    url_pc12_reactome_hgnc_sif = 'https://download.baderlab.org/PathwayCommons/PC2/v12/PathwayCommons12.reactome.hgnc.sif.gz'
    clusterone_n_cores = 32
    wholecellnet_edge_min_threshold = 0.0
    starmap_n_proc = 16
    starmap_n_proc_buildNet = 32
    max_module_size = 1024
    cl1_max_overlap_match_coeff = 0.30
    cl1_min_size = 8
    cl1_protverse_min_density_list = [0.70, 0.80, 0.90]
    cl1_protverse_reactgenes_min_density_list = [0.60]
    blant_minW_list = [0.9, 0.95]

}
